{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>{% block title %} Document {% endblock %}</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
	
	
	 <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Deliver Pizza</h3>
              <nav>
                <ul class="nav navbar-nav navbar-right">
                  <li class="active"><a class="btn" onclick="window.location.href='/'">Home</a></li>
                  <li><a  href="#">Features</a></li>
                   {% if request.session.userr %}
                   <li >
                      <a  class="btn" onclick="window.location.href='/salir'" >Cerrar Sesion</a>
                     
                  </li>
                  <li >
                      <a  class="btn" onclick="window.location.href='/cursos'">Cursos</a>
                     
                  </li>
                   {% else %}
                   <li >
                      <a class="btn" onclick="window.location.href='/sesion'" >Loguin</a>
                   </li>
                   <li>
                    <a class="btn" onclick="window.location.href='/register'" > Registrarse</a>
                   </li>
                   {% endif%}

                </ul>
              </nav>
            </div>
          </div>


    {% block content %}{% endblock %}
		{% block registro %} {% endblock %}
		{% block loguin %} {% endblock %}


          <div class="mastfoot">
            <div class="inner">
              <p>Pizzeria in  <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@gerson</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>
 <script type="text/javascript" href="{% static 'js/jquery.js' %} "></script>   
<!--
<link rel="stylesheet" href="{% static 'js/jquery.js' %}">
-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>