{% extends 'base.html' %}
{% block content %}


	          <div class="inner cover">
	            <h1 class="cover-heading">Mis cursoso <b>{{ request.session.userr  }}</b></h1>
	            <p class="lead">Aqui se muestran los cursos disponibles
	            eres un 
	            {{  lis.gender }}
	            <p class="lead">
	              <a href="#" class="btn btn-lg btn-default">Agregar curso</a>
	            </p>
	            
	            
	            </p>
	            <p class="lead">
	              <a href="#" class="btn btn-lg btn-default">Ver Mas</a>
	            </p>
	          </div>

	         
	{% endblock %}