{% extends 'base.html' %}
{% block content %}
			
		

	          <div class="inner cover">
	            <h1 class="cover-heading"> hhhh {{ c.curso }}{{ c.titulo }}{{ c.name }}Bienvenido usuario : <b>{{ request.session.userr  }}</b></h1>
	            <p class="lead">Al curso de  {{  c.name  }}
	            
	            </p>
	            <p class="lead">
	             <a  class="btn btn-lg btn-default" onclick="window.location.href='/addcursos'" >Regresar</a>
	              
	            </p>
	          </div>
			<br>
	          	
	          	<br>
	          	<style type="text/css">
	          		.go-video{
	          			height:500px;
	          			width:850px;
	          		}
	          		.opciones{
	          			height: 400px;
	          			width: 290px;
	          			background-color: peru;
	          			overflow: scroll;


	          		}
	          	</style>
	          	<center><h3>this is testeoo</h3></center>
	          	{% for lista in c %}
	          		<center><h4>
	          		<a class='btn btn-danger'  onclick="window.location.href='/curso.com/{{ lista.id  }}/{{lista.slug}}'"
				          	>{{ lista.titulo }}</a>
	          		
	          		</h4></center>
	          	{% endfor %}

	      {%  if lis.gender == 't' %}     	

<!-- this is add -->

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Agregar Tema </button>
		{% endif%}
<!--  -->
	 <!--esta es la parte para agregar un  tema al curso -->
				          	<!-- pop up para agregar temas a un curso -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Agregando Nuevo Tema al curso </h4>
      </div>
      <div class="modal-body">
      <!--  -->

<form method="post" enctype="multipart/form-data" >
{% csrf_token %}
				
				<table>
					<tr>
						<td>Titulo del capitulo </td>
						<td>{{ fr.titulo }}	
							{{ fr.titulo.errors }}
						</td>
					</tr>
					<tr>
						<td>Descripcion del capitulo</td>
						<td>{{ fr.descripcion }}	
							{{ fr.descripcion.errors }}
						</td>
					</tr>
					<tr>
						<td>Nombre del archivo</td>
						<td>{{ frm.filename }}	
							{{ frm.filename.errors }}
						</td>
					</tr>
					<tr>
						<td>Selecionar Archivo multimedia</td>
						<td>{{ frm.docfile }}	
							{{ frm.docfile.errors }}
						</td>
					</tr>
				</table>
				<button type="submit" class="btn btn-primary">Aceptar</button>
        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				 <input type="submit" value="Submit">
	
</form>
      <!--  -->
      </div>
    </div>
  </div>
</div>

	  
	
	{% endblock %}