{% extends 'base.html' %}
	{% block title %}Register{% endblock %}
	{% block registro %}

		<style>

input[type=number]::-webkit-outer-spin-button,

input[type=number]::-webkit-inner-spin-button {

    -webkit-appearance: none;

    margin: 0;

}

 

input[type=number] {

    -moz-appearance:textfield;

}

</style>
	<div class="formulario">
		<form  method="post" >{% csrf_token %}
				
				<center>
			
				<table>
					<tr>
						<td>Usuario</td>
						<td>{{ frm.username }}	
							{{ frm.username.errors }}
						</td>
					</tr>
					<tr>
						<td>Contraseña</td>
						<td>{{ frm.password }}
				{{ frm.password.errors }}</td>
					</tr>
					<tr>
						<td>DNI</td>
						<td>
							{{ frm.dni }}
							{{ frm.dni.errors }}
						</td>
					</tr>
					<tr>
						<td>Email@</td>
						<td>
						{{ frm.email }}
						{{ frm.email.errors }}
						</td>
					</tr>
					<tr>
						<td>Nombre</td>
						<td>
							{{ frm.first_name }}
				{{ frm.first_name.errors }}
						</td>
					</tr>
					<tr>
						<td>Apellido</td>
						<td>{{ frm.last_name }}
							{{ frm.last_name.errors }}
						</td>
					</tr>
					<tr>
						<td>Radio button</td>
						<td>{{ frm.gender }}
							{{ frm.gender.errors }}
						</td>
					</tr>
				</table>
				<br>
				<button class="btn btn-lg btn-default aj">Registro</button>
				</center>	
			</form>

	</div>
	

<style type="text/css">
  .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
 
}
</style>
		
			
		
	{% endblock%}